:root {
  --grey--1: #0a090d;
  --purple--2: #2f1a52;
  --purple--0: #7b3fe4;
  --grey--2: #141217;
  --gray--5: #525059;
  --purple--1: #af89ee;
  --grey--3: #212026;
  --grey--4: #2d2c33;
  --gray--10: #e2e1e5;
  --gray--6: #67666e;
}
#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  /* border: 1px solid red; */
  background-color: var(--grey--1);
  color: #fff;
  letter-spacing: 0.4px;
  font-family: Generalsans, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
}
